# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Static files (we don't want to track user uploads)
static/uploads/
static/processed/

# OS-specific
.DS_Store
Thumbs.db